@using WebApplication1.Constants
@model Project

@{
    var isClient = User.IsInRole(AuthConstants.ClientRole);
    var isManager = User.IsInRole(AuthConstants.ManagerRole);
}

@if (Model.Videos.Count == 0 && isManager)
{
    <h4>Создание сценария видео</h4>

    <form asp-controller="ScriptStage" asp-action="CreateVideo" method="post">
        <input type="hidden" name="projectId" value="@Model.Id"/>

        <div class="mb-3">
            <label class="form-label">Сценарий</label>
            <textarea name="Script" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Ссылка на референс</label>
            <input name="Reference" type="url" class="form-control" placeholder="https://example.com" required/>
        </div>

        <button type="submit" class="btn btn-success">Создать сценарий</button>
    </form>
}
else if (Model.Videos.Any())
{
    <table class="table table-bordered">
        <thead class="table-info">
        <tr>
            <th>№ Видео</th>
            <th>Сценарий</th>
            <th>Референс</th>
            <th>Комментарий клиента</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var video in Model.Videos.OrderBy(v => v.VideoNumber))
        {
            <tr>
                <td>@video.VideoNumber</td>
                <td>
                    @if (isManager && video.Status == ScriptStatus.Correction)
                    {
                        <textarea name="Script" form="updateVideoForm-@video.VideoNumber"
                                  class="form-control">@video.Script</textarea>
                    }
                    else
                    {
                        @video.Script
                    }
                </td>
                <td>
                    @if (isManager && video.Status == ScriptStatus.Correction)
                    {
                        <input name="Reference" form="updateVideoForm-@video.VideoNumber" value="@video.Reference"
                               type="url" class="form-control"/>
                    }
                    else
                    {
                        <a href="@video.Reference" target="_blank">Ссылка</a>
                    }
                </td>
                <td>
                    @{ var disabled = video.Status == ScriptStatus.Approved ? "disabled" : null;}
                    @if (isClient && disabled is null)
                    {
                        <input name="clientComment" class="form-control" form="submitScriptForm-@video.VideoNumber"/>
                    }
                    else
                    {
                        @Model.ProjectComments.FirstOrDefault(pr => pr.RelatedVideoNumber == video.VideoNumber)?.CommentText
                    }
                </td>
                <td>
                    @if (isClient)
                    {
                        <form id="submitScriptForm-@video.VideoNumber" asp-controller="ScriptStage"
                              asp-action="ApproverVideo" method="post">
                            <input type="hidden" name="projectId" value="@Model.Id"/>
                            <input type="hidden" name="videoId" value="@video.VideoNumber"/>
                            <select name="status" class="form-select" @disabled>
                                <option value="Approved" selected="@(video.Status == ScriptStatus.Approved)">
                                    Согласовано
                                </option>
                                <option value="Correction" selected="@(video.Status == ScriptStatus.Correction)">
                                    Правки
                                </option>
                            </select>
                            <button type="submit" class="btn btn-primary btn-sm mt-1" @disabled>Отправить</button>
                        </form>
                    }
                    else
                    {
                        @video.Status
                    }
                </td>
                @if (isManager && video.Status == ScriptStatus.Correction)
                {
                    <td>
                    <form id="updateVideoForm-@video.VideoNumber" asp-controller="ScriptStage" asp-action="UpdateVideo"
                          method="post">
                        <input type="hidden" name="projectId" value="@Model.Id"/>
                        <input type="hidden" name="videoId" value="@video.VideoNumber"/>
                        <button type="submit" class="btn btn-sm btn-primary mt-1">Обновить сценарий</button>
                    </form>
                    </td>
                }
            </tr>

            
        }
        </tbody>
    </table>
}

@if (isManager && Model.ProjectStage == ProjectStage.Script && Model.Videos.Any(v => v.Status != ScriptStatus.Approved))
{
    <h5>Добавить новое видео</h5>

    <form asp-controller="ScriptStage" asp-action="CreateVideo" method="post">
        <input type="hidden" name="projectId" value="@Model.Id"/>
        <div class="mb-2">
            <label class="form-label">Сценарий</label>
            <textarea name="Script" class="form-control" required></textarea>
        </div>
        <div class="mb-2">
            <label class="form-label">Ссылка на референс</label>
            <input name="Reference" type="url" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-success">Добавить видео</button>
    </form>
}
else if (Model.Videos.Count == 0)
{
    <p class="text-muted">Сценарий в процессе создания менеджером.</p>
}